@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.game__guest,
.game__creator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.2;
  width: 100%;
  height: 100%;
}

.game__center {
  width: 100%;
  height: 100%;
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 21px;
  border-radius: 11px;
}

.game__centerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 11px 21px rgba(0, 0, 0, 0.7);
  border-radius: 21px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.game__roomName {
  font-family: "Bubblegum Sans", cursive;
  font-size: 2.7vw;
}

.game__centerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  backdrop-filter: blur(11px);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  border-radius: 21px;
  z-index: 100;
  border: 2px solid white;
}

.game__board {
  width: 50vh;
  height: 50vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game__boardBox {
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 21%;
  font-family: "Lacquer", cursive;
  font-weight: bolder;
  font-size: 9vh;
  transition: transform 521ms ease;
  border: 1px solid black;
  animation: shadowAnimation 10s ease-in-out infinite;
}

.game__boardBox:nth-child(2) {
  animation-delay: 0.5s;
}
.game__boardBox:nth-child(3) {
  animation-delay: 1s;
}
.game__boardBox:nth-child(4) {
  animation-delay: 1.5s;
}
.game__boardBox:nth-child(5) {
  animation-delay: 2s;
}
.game__boardBox:nth-child(6) {
  animation-delay: 2.5s;
}
.game__boardBox:nth-child(7) {
  animation-delay: 3s;
}
.game__boardBox:nth-child(8) {
  animation-delay: 3.5s;
}
.game__boardBox:nth-child(9) {
  animation-delay: 4s;
}

.game__centerBottomTieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  border-radius: 21px;
  backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 11px 0px 21px rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.game__centerBottomTieTitle {
  font-family: "Yeon Sung", cursive;
}

.game__centerBottomTieScore {
  font-family: "Aldrich", sans-serif;
}

.settingsIcon {
  transition: all 521ms ease !important;
}

.settingsIcon:hover {
  transform: rotateZ(360deg) !important;
}

.game__boardBox:hover {
  transform: rotate(360deg);
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0px 0px 50px 11px springgreen;
  }
  10% {
    box-shadow: 0px 0px 50px 11px aqua;
  }
  20% {
    box-shadow: 0px 0px 50px 11px #0ff;
  }
  30% {
    box-shadow: 0px 0px 50px 11px #ccff02;
  }
  40% {
    box-shadow: 0px 0px 50px 11px orange;
  }
  50% {
    box-shadow: 0px 0px 50px 11px orangered;
  }
  60% {
    box-shadow: 0px 0px 50px 11px #fe0000;
  }
  70% {
    box-shadow: 0px 0px 50px 11px #ff00de;
  }
  80% {
    box-shadow: 0px 0px 50px 11px purple;
  }
  90% {
    box-shadow: 0px 0px 50px 11px greenyellow;
  }
  100% {
    box-shadow: 0px 0px 50px 11px #39ff14;
  }
}
