@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.userInfo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.userInfo__name {
  font-family: "Yeon Sung", cursive;
  font-size: 3rem;
}

.userInfo__score {
  font-family: "Aldrich", sans-serif;
  font-size: 5rem;
}
